@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.sidebar{
    color: white;
    position: absolute;
    background-color: rgb(65, 35, 65);
    /* width: 250px; */
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    transition: transform 0.3s ease-in;
    border-top-right-radius: 17px;
    
}
.po h1{
    margin: 30px 60px;
    text-decoration: underline rgb(181, 91, 181);
    text-underline-position: under;
    background-color: rgb(96, 48, 96);
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 6px 3px rgb(96, 48, 96);

}
.sidebar nav{
    padding: 40px;

}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 30px;
}

.sidebar nav li a{
    text-decoration: none;
    color: white;
}



.main{
    
    /* background-color: rgba(123, 32, 235, 0.871); */
    
    width: 100vw;
}
.container{
    display: flex;
}
.infoContainer{
    color: white;
    /* background-color: rgb(157, 205, 242); */
    height: 57vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    animation: grow 1s;
    
}
.devPic img {
    /* width: 370px; */
    width: 300px;
    height: 57vh;
}
.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    margin-left: 150px;
}
.hi{
    font-size: 3em; /*60px*/
}

.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.about{
    font-size: 2.5em;
}

.moreabout{
    font-size: 2em;
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;
}

.buttons{
    margin-top: 2.2em;
    font-size: 9px;

}

.btn {
    padding: 10px 18px;
    border-radius: 25px;
    background-color: white;
    color: rgb(103, 43, 159);
    font-weight: bold;
    font-size: 2em;
    border-color:rgb(65, 35, 65); 
    border-width: 7px;
    margin: 0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 15px;
    padding: 10px 19px;
    margin: 12px 0;
}

.btn:hover{
    color: white;
    background-color: rgb(96, 48, 96);
}

.contactform{
    color: white;
    padding: 0 35px;
    font-family: 'Fira Sans', sans-serif;
    margin: 90px 250px;
    animation: grow 1s;
    
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 15px 0;
    text-align: center;
    text-decoration: underline rgb(181, 91, 181);
    text-underline-position: under;
}
.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    /* width: 40vh; */
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
.contactform form{
    margin: 0 30px;
}

/* A period ( . ) indicates a class, and a hash ( # ) indicates an ID */

#emailHelp{
    font-size: 15px;
    color: rgb(128, 35, 128);
    margin: 0 5px
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 25px;
    margin: 3px 0;
}
.intro{
    color: white;
    margin: 80px 100px;
    margin-left: 315px;
    animation: grow 1s;
  }
  @keyframes grow {
    0% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.intro h2{
    font-family: 'Fira Sans', sans-serif; 
    margin: 12px;
    font-weight: bolder;
    text-decoration: underline rgb(181, 91, 181);
    text-underline-position: under;
   
   

}
.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
    font-size: medium;
    font-weight: bold;


}
.skillcontainer{
    padding: 12px;
}
.skillitem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
.skill{
    width: 320px;
    height: 10px;
    background-color: rgb(89, 19, 155);
}
.hundered{
    width: 350px;
    background-color: rgb(72, 17, 124);
    border: 3px solid black;
}
.eighty{
    width:200px;
    background-color: rgb(91, 34, 144);
}
.fifty{
    width: 175px;
    background-color: blueviolet;
}
.t5{
    width: 90px;
    background-color: rgb(164, 91, 233);
}
.myproj h1{
    font-family: 'Source Code Pro', monospace;
    margin: 20px;
    text-decoration: underline rgb(181, 91, 181);
    text-underline-position: under;
}

div.gallery {
    margin: 20px;
    border: 3px solid #ccc;
    float: left;
    width: 250px;
    height: 300px;
  }
  
  div.gallery:hover {
    border: 3px solid #63125f;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .myproj{
    color: white;
    margin: 110px 100px;
    margin-left: 315px;
    animation: grow 1s;
    
  }

  .sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
  }

  .hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
  }
  .ham{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
  }
  .cross{
    margin-left: 212px;
    margin-top: 12px;
    width: 30px;
  }
  .bg {
    background: url(https://images.unsplash.com/photo-1649190303458-93fea6fd3c99?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
}
.bg:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #050000;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.3;
}
@keyframes sf-fly-by-1 {
    from {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(0);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-2 {
    from {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-600px);
        opacity: 0.5;
    }
}
@keyframes sf-fly-by-3 {
    from {
        transform: translateZ(-1800px);
        opacity: 0.5;
    }
    to {
        transform: translateZ(-1200px);
        opacity: 0.5;
    }
}
.star-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    perspective: 600px;
    -webkit-perspective: 600px;
    z-index: -1;
}
.star-field .layer {
    box-shadow: -411px -476px #cccccc, 777px -407px #d4d4d4, -387px -477px #fcfcfc, -91px -235px #d4d4d4, 491px -460px #f7f7f7, 892px -128px #f7f7f7, 758px -277px #ededed, 596px 378px #cccccc, 647px 423px whitesmoke, 183px 389px #c7c7c7,
        524px -237px #f0f0f0, 679px -535px #e3e3e3, 158px 399px #ededed, 157px 249px #ededed, 81px -450px #ebebeb, 719px -360px #c2c2c2, -499px 473px #e8e8e8, -158px -349px #d4d4d4, 870px -134px #cfcfcf, 446px 404px #c2c2c2,
        440px 490px #d4d4d4, 414px 507px #e6e6e6, -12px 246px #fcfcfc, -384px 369px #e3e3e3, 641px -413px #fcfcfc, 822px 516px #dbdbdb, 449px 132px #c2c2c2, 727px 146px #f7f7f7, -315px -488px #e6e6e6, 952px -70px #e3e3e3,
        -869px -29px #dbdbdb, 502px 80px #dedede, 764px 342px #e0e0e0, -150px -380px #dbdbdb, 654px -426px #e3e3e3, -325px -263px #c2c2c2, 755px -447px #c7c7c7, 729px -177px #c2c2c2, -682px -391px #e6e6e6, 554px -176px #ededed,
        -85px -428px #d9d9d9, 714px 55px #e8e8e8, 359px -285px #cfcfcf, -362px -508px #dedede, 468px -265px #fcfcfc, 74px -500px #c7c7c7, -514px 383px #dbdbdb, 730px -92px #cfcfcf, -112px 287px #c9c9c9, -853px 79px #d6d6d6,
        828px 475px #d6d6d6, -681px 13px #fafafa, -176px 209px #f0f0f0, 758px 457px #fafafa, -383px -454px #ededed, 813px 179px #d1d1d1, 608px 98px whitesmoke, -860px -65px #c4c4c4, -572px 272px #f7f7f7, 459px 533px #fcfcfc,
        624px -481px #e6e6e6, 790px 477px #dedede, 731px -403px #ededed, 70px -534px #cccccc, -23px 510px #cfcfcf, -652px -237px whitesmoke, -690px 367px #d1d1d1, 810px 536px #d1d1d1, 774px 293px #c9c9c9, -362px 97px #c2c2c2,
        563px 47px #dedede, 313px 475px #e0e0e0, 839px -491px #e3e3e3, -217px 377px #d4d4d4, -581px 239px #c2c2c2, -857px 72px #cccccc, -23px 340px #dedede, -837px 246px white, 170px -502px #cfcfcf, 822px -443px #e0e0e0, 795px 497px #e0e0e0,
        -814px -337px #cfcfcf, 206px -339px #f2f2f2, -779px 108px #e6e6e6, 808px 2px #d4d4d4, 665px 41px #d4d4d4, -564px 64px #cccccc, -380px 74px #cfcfcf, -369px -60px #f7f7f7, 47px -495px #e3e3e3, -383px 368px #f7f7f7, 419px 288px #d1d1d1,
        -598px -50px #c2c2c2, -833px 187px #c4c4c4, 378px 325px whitesmoke, -703px 375px #d6d6d6, 392px 520px #d9d9d9, -492px -60px #c4c4c4, 759px 288px #ebebeb, 98px -412px #c4c4c4, -911px -277px #c9c9c9;
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    border-radius: 2px;
}
.star-field .layer:nth-child(1) {
    animation: sf-fly-by-1 5s linear infinite;
}
.star-field .layer:nth-child(2) {
    animation: sf-fly-by-2 5s linear infinite;
}
.star-field .layer:nth-child(3) {
    animation: sf-fly-by-3 5s linear infinite;
}




.card {
    box-shadow: 0px 0px 6px 3px rgb(96, 48, 96);
    transition: all .3s ease-in-out;
    background-color: rgb(65, 35, 65);
    border-radius: 28px;
    
  }
  
  .card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  

  @media(max-width: 816px) {
    *{
     /* background-color: blue;    */
  }
  .buttons{
    font-size: 6px;
  }
  .devInfo{
    font-size: 10px;
  }
  .devPic{
    display: none;
  }
  .intro, .contactform, .myproj{
    margin: 50px 9px;
  }
}
